.contactForm{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.labelForm{
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-weight: 700;
}

.inputForm{
  width: 180px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  outline-color: #27ae60;
}

.btnForm {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  outline-color: #27ae60;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.btnForm:hover,
.btnForm:focus {
  background-color: #2ecc71;
}